<div class="grid grid-nogutter surface-section text-800 m-0">
  <div
    class="col-12 md:col-6 p-4 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1"
        >Bienvenido {{ user.name }}</span
      >
      <div class="text-3xl text-primary font-bold mb-3">
        Esta página solo funciona si estas autenticado.
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Este proyecto fue realizado con MongoDB, Express, Angular y NodeJs.
      </p>

      <button
        pButton
        pRipple
        label="View code"
        type="button"
        class="mr-3 p-button-raised"
        icon="pi pi-github"
      ></button>
      <button
        pButton
        (click)="logout()"
        pRipple
        label="Logout"
        type="button"
        class="p-button-outlined"
        icon="pi pi-sign-out"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_960_720.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
